@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

* {
    box-sizing: border-box;
    padding: 5px;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    font-weight: bolder;
    margin: 0;
}

html {
    background-color: #EA8CFF;
}

body {
    background-color: #EA8CFF;
    height: 100%;

}

#popular-genres {
    background-color: lightskyblue;
}

.wrapper2 {
    width: 75%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.Vcontainer {
    width: 100%;
    display: flex;
}

.artists {
    width: 20%;
    height: 300px;
    text-align: center;
}

.videos {
    width: 50%;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

 .container {
    width: 100%;
    height: 100%;
    display: flex;
    /* justify-content: space-between; */

}
 /*
.content{
    display: flex;
    justify-content: center;
}
.content p {
    display: block;
    width: 100%;  
} */

.header {
    background-image: linear-gradient(to left, #EA8CFF, #4E45E5);
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 100%;
    width: auto;
    font-size: 40px;
    color: #35363A;
    padding-bottom: 8px;
}

.header h1 {
    padding-bottom: 3px;
}

.hero {
    background-image: url(../css/music-rainbow.jpeg);
    background-size: cover;
    background-position: center;
    height: 250px;
}

.wrapper {
    display: flex;
    width: 25%;
    height: 379px;
    padding-top: 20px;
}

.genres {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 5px;
}

/* aside {
    display: flex;
    width: 40%;
    justify-content: center;
} */

/* .ytp-cued-thumbnail-overlay-image {
    max-width: 200px;
} */

section {
    display: flex;
    flex-flow: column wrap;
    width: 60%;
}

footer{
    font-size: 12px;
}

#subgenres_list {
    flex-wrap: wrap;
}

@media only screen and (max-width: 1100px) {
    .wrapper {
        width: 25%;
    }

    /* .container {
        display: flex;
        flex-direction: column;
    } */

    .Vcontainer {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .artists {
        height: auto;
        width: 75%;
    }

    .videos {
        height: auto;
        width: 75%
    }
}

@media only screen and (max-width: 800px) {
    .wrapper {
        width: auto;
    }
}

@media only screen and (max-width: 600px) {
    h1 {
        text-align: center;
        font-size: 30px;
    }
    .hero {
        height: 100px;
    }
    .container {
        display: flex;
        flex-direction: column;
    }
    .wrapper2 {
        width: 100%;
    }

    .wrapper {
        display: flex;
        justify-content: center;
        width: 100%;
    }
    .Vcontainer {
        display: flex;
        flex-direction: column;
    }
    
    u {
        width: 100%;
    }

    .artists {
        height: auto;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }
    .videos {
        height: auto;
        width: 100%;
    }
    }

@media only screen and (max-width: 400px) {
     h1 {
        text-align: center;
        font-size: 20px;
     }
     .header {
        height: 35px;
     }
     .hero {
        height: 50px;
     }
    }

video {
    height: 200px;
    width: 280px;
    display: flex;
    flex-wrap: wrap;
    padding-top: 15px;
}

.channel_link {
    padding-top: 10px;
    font-size: 15px;
}

